@charset "UTF-8";
.body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
}

.h1 {
  font-size: 44px;
  line-height: 54px;
}

.h3 {
  font-size: 36px;
  text-align: center;
  align-items: center;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 5px;
}

.h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.banner__p {
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}

li {
  font-size: 16px;
  line-height: 35px;
  color: #544837;
}

.body {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
}
.body__wrapper {
  max-width: 1245px;
  min-width: 300px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  padding: 19px 137px 0 0;
  border-bottom: 1px solid #000000;
}
.header__logo {
  position: relative;
  top: 23px;
  margin-bottom: 20px;
}
.header__nav {
  display: flex;
  flex-grow: 6;
  color: black;
  list-style: none;
  flex-direction: column;
  align-self: end;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: flex-end;
  padding-right: 50px;
}
.header__nav-item {
  padding: 10px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header__buttons {
  display: flex;
  align-items: center;
}

.header__logo,
.footer__logo {
  height: 32px;
  width: 185px;
  position: relative;
}
.header__logo-img,
.footer__logo-img {
  width: 30px;
  height: 30px;
}
.header__logo-name,
.footer__logo-name {
  display: inline-block;
  padding: 9px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(0, -70%);
  color: #173A56;
}

.main__banner {
  padding: 16px 0 0;
}
.main .banner__p {
  margin-bottom: 45px;
}
.main .banner__btn {
  display: flex;
  flex-wrap: wrap;
}
.main .banner .btn_sign_up {
  padding: 15px 41px;
  margin-right: 30px;
}

.main__feature {
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 0 25px 62px;
}
.main__feature-title {
  margin: 54px auto 20px;
}
.main__feature-list {
  padding: 20px 0 38px;
  font-size: 0;
  min-width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__feature-item {
  min-width: 280px;
  width: 25%;
}
.main .h3_feature {
  max-width: 540px;
  line-height: 54px;
  padding-bottom: 5px;
}
.main .btn_feature {
  margin: auto;
  padding: 14px 33px;
  font-weight: bold;
  transform: translate(-49px, 0);
}

.main__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 300px;
}
.main .banner-div,
.main .validation-div,
.main .decision-div,
.main .optimisation-div {
  width: 50%;
  min-width: 300px;
  max-width: 486px;
  line-height: 25px;
}
.main .banner-div ~,
.main .validation-div ~,
.main .decision-div ~,
.main .optimisation-div ~ {
  padding: 15px 0;
}
.main .section__image {
  object-fit: cover;
  width: 45%;
  min-width: 300px;
}
.main .decision-div {
  padding: 0 0 0 75px;
  min-width: 400px;
  box-sizing: border-box;
}
.main__decision {
  padding-top: 50px;
}
.main__validation {
  padding-bottom: 80px;
}
.main__optimisation {
  padding-top: 95px;
  padding-bottom: 100px;
  margin-bottom: 110px;
}
.main .validation__title-bold,
.main .optimisation__title-bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
  margin-bottom: 12px;
}
.main .li__styled {
  list-style-image: url(/іmages/tick.svg);
  list-style-position: outside;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  width: 80%;
}

.footer {
  padding: 93px 123px 100px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer__logo {
  align-self: flex-start;
  flex: 6 1 auto;
}
.footer__nav {
  flex: 2 1 auto;
  padding-top: 45px;
  padding-right: 75px;
}
.footer__list {
  list-style: none;
}
.footer__nav, .footer__submit-field {
  align-self: flex-end;
}
.footer__submit-field {
  padding-bottom: 48px;
}
.footer__nav-item {
  padding: 5px 0;
}
.footer__field,
.footer .btn_submit {
  display: block;
}
.footer__field {
  margin-bottom: 18px;
  width: 325px;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #bcd0e5;
  background: #ffffff;
}

.btn {
  border-radius: 4px;
  padding: 11px 23px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.5s linear;
  display: block;
}

.btn_sign-in {
  color: black;
  margin-right: 10px;
  border: 1px solid #173a56;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
}

.btn_sign-up {
  background-color: #ff9900;
  color: white;
}

.btn_get-started {
  padding: 14px 44px;
  margin-right: 12px;
}

.btn_watch {
  line-height: 24px;
  padding: 14px 20px;
  text-decoration-line: underline;
  color: #ff9900;
}

.btn_header-position {
  transform: translate(0, 7px);
}

.btn_submit {
  border-style: none;
  padding: 10px 15px;
  font-size: 17px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
