@import "typography";

.body {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;

    &__wrapper {
      max-width: 1150px;
      min-width: 300px;
      margin: 0 auto;

      @media screen and (max-width: $md) {
        padding: 0 10px;
      }
    }
}