.main {
  &__feature {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 0 25px 62px;

  }

  &__feature-title {
    margin: 54px auto 20px;
  }

  &__feature-list {
    padding: 20px 0 38px;
    font-size: 0;
    min-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__feature-item {
    min-width: 280px;
    width: 25%;
  }

  .h3_feature {
  max-width: 540px;
    line-height: 54px;
    padding-bottom: 5px;
  }

    .btn_feature {
    margin: auto;
    padding: 14px 33px;
    font-weight: bold;
    transform: translate(-49px, 0);
  }
}