.feature {
  margin-bottom: 150px;
}

.feature__title {
  margin-bottom: 54px;
}

.feature__list {
  font-size: 0;
  min-width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature__item {
  min-width: 280px;
  width: 25%;
}

.feature .btn__center {
  width: 175px;
  margin: auto;
  align-items: center;
}

.feature__link {
  margin: auto;
}