.main {
  &__feature {
    margin-top: 100px;
    margin-bottom: 150px;


  }

  &__feature-title {
    margin: 54px auto 20px;
  }

  &__feature-list {
    padding: 20px 0 38px;
    font-size: 0;
    min-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (max-width: $md){
      justify-content: center;
    }
  }

  &__feature-item {
    min-width: 260px;
    width: 25%;

    @media screen and (max-width: $md){
      min-width: 146px;
      outline: 1px solid $secondary-color;
      border-radius: 4px;
      margin: 2px;
    }
  }

  &__feature-icon {
    @media screen and (max-width: $md) {
      display: block;
      margin: 15px auto 0;
    }
  }

  &__feature-subscription {
    @media screen and (max-width: $md) {
      text-align: center;
    }
  }

  .h3_feature {
  max-width: 540px;
    line-height: 54px;
    padding-bottom: 5px;
  }

    .btn_feature {
    margin: auto;
    padding: 14px 33px;
    font-weight: bold;
    transform: translate(-49px, 0);

    @media screen and (max-width: $md) {
      transform: translate(0, 0);
    }
  }
}