.footer {
  padding: 93px 123px 100px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;


  &__logo {
  align-self: flex-start;
  flex: 6 1 auto;
}

  &__nav {
  flex: 2 1 auto;
  padding-top: 45px;
  padding-right: 75px;
  }

  &__list {
  list-style: none;
  }

  &__nav,
  &__submit-field {
  align-self: flex-end;
  }

  &__submit-field {
  padding-bottom: 48px;
  }

  &__nav-item {
  padding: 5px 0;
  }

  &__field,
  .btn_submit {
    display: block;
  }

  &__field {
    margin-bottom: 18px;
    width: 325px;
    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #bcd0e5;
    background: #ffffff;
  }
}